*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #171A29;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header h1{
    margin: 0 0 0 30px;
    color: #00259C;
}

.header .navbar{
    margin: 0 30px 0 0;
}

.header .navbar a{
    font-size: 20px;
    text-decoration: none;
    color: #00259C;
    margin-right: 5px;
}

.content{
    background-image: url(../assets/imgs/maxresdefault.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 565px;
    background-size: 100%;
}

.classes{
    height: auto;
    padding: 35px 5% 35px 5%;
    background-color: white;
    margin: 60px;
    border-radius: 15px;
}


.classes .texto h2{
    text-align: center;
    color: #00259C;
    margin: 10px 0 25px 0;
    font-size: 32px;
}

.classes .texto p{
    font-size: 20px;
    text-align: justify;
}

.classe-inicial{
    margin-top: 3%;
    background-color: #FFEBCD;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.548);    
}

.classe2{
    background-color: #EBD7C5;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.548);    
}

.classe-trans{
    background-color: #D1DDD0;    
    width: 100%;
    text-align: center;    
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.classe3{
    background-color: #D8BFD8;    
    width: 100%;
    text-align: center;    
    border: 1px solid rgba(0, 0, 0, 0.548);
}
.classe1{
    background-color: #F0E68C;
    width: 100%;
    text-align: center;    
    border: 1px solid rgba(0, 0, 0, 0.548);
}

a{
    text-decoration: none;
    color: black;
}

.aprendiz{
    padding-left: 44.5%;
    padding-bottom: 2%;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.aprendiz p{
    margin-left: 2%;
}

.classe p {
    text-align: center;
    font-weight: 600;
}

.classes1{
    margin: 0;
    display: flex;
}

.classes1 .classe{
    padding: 0 2.77%;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.classes2{
    margin: 0;
    display: flex;
    overflow: auto;
}

.classes2 .classe{
    padding: 0 1.6%;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.iniciais{
    display: flex;
    justify-content: space-between;
}

.iniciais .doram{
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding: 0 2.65%;
    padding-top: 23%;
}

.iniciais .doram p{
    margin-left: 5%;
}

.iniciais .aprendizes{
    width: 100%;
    font-weight: bold;
}

.iniciais .aprendizes .aprendiz-expandida{
    padding-left: 44%;
    padding-bottom: 2%;
    padding-right: 28%;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.iniciais .aprendizes .aprendiz-expandida p{
    margin-left: 8%;
}

.taekwon{
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding-left: 25%;
}

.taekwon p{
    margin-left: 9%;
}

.taekwon2 .evolucao-taekwon{
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.taekwon2 .evolucao-taekwon img{
    margin-left: 8%;
}

.taekwon2 .evolucao-taekwon_espiritualista{
    border: 1px solid rgba(0, 0, 0, 0.548);
    width: 62%;
}

.taekwon2 .evolucao-taekwon_espiritualista img{
    margin-left: 5%;
}

.taekwon2 .evolucao-taekwon_espiritualista p{
    margin-left: 5%;
}

.taekwon2 .evolucao-taekwon2{
    border: 1px solid rgba(0, 0, 0, 0.548);
    width: 46.5%;
    padding-left: 5%;
}

.taekwon2 .evolucao-taekwon2 p{
    margin-left: 0;
}

.ninja{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.ninja p{
    margin-left: 32%;
}

.justiceiro{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.justiceiro p {
    margin-left: 10%;
}

.super{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.super img{
    margin-left: 8%;
}

.evolucao-ninja{
    width: 40%;
    margin-left: -2.5%;
}

.evolucao-ninja p{
    margin-left: 18%;
}

.ninja2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6.2%;
    border: 1px solid rgba(0, 0, 0, 0.548);    
}